# API Service
fintech-api.wisipay.com {
    reverse_proxy localhost:4000
}

# Payment Service
fintech-payment.wisipay.com {
    reverse_proxy https://localhost:9090 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}



