{
    servers {
        trusted_proxies static 10.0.0.0/8 172.16.0.0/12 192.168.0.0/16 127.0.0.1/8
    }
}

api.paysixfintech.net {
    reverse_proxy api:4000
}

payment.paysixfintech.net {
    reverse_proxy payment:4001
}

app.paysixfintech.net {
    reverse_proxy frontend:3000
}

