[sources.docker_logs]
type = "docker_logs"
docker_host = "/var/run/docker.sock"
include_containers = ["app-api"] # add more service names here as you add containers

[transforms.to_json]
type = "remap"
inputs = ["docker_logs"]
source = '''
structured, err = parse_json(.message)
if err == null { . = merge(., structured) }
'''

[sinks.loki]
type = "loki"
inputs = ["to_json"]
endpoint = "http://loki:3100"
encoding.codec = "json"
labels = { job = "fintech", service = "{{ container_name }}" }

[sinks.console] # optional debug
type = "console"
inputs = ["to_json"]
encoding.codec = "json"
