POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=app_ledger
POSTGRES_PORT=5435

MONGO_INITDB_ROOT_USERNAME=mongo
MONGO_INITDB_ROOT_PASSWORD=mongo
MONGO_PORT=27017

REDIS_PASSWORD=redis
REDIS_PORT=6379
